[submodule "ASF"]
	path = ASF
	url = https://github.com/HQSquantumsimulations/ActiveSpaceFinder.git
[submodule "qiskit-fermions"]
	path = qiskit-fermions
	url = https://github.com/Qiskit/qiskit-fermions.git
